.idea/
venv/
App/front_end/__pychache__
App/Frontend/__pychache__
App/PythonUi/__pychache__
App/Database/__pychache__
App/backend_database/__pychache__
App/backend_database/.idea
App/Backend/__pychache__
App/back_end/__pychache__
